node-red-flows/node-flows-weather.json
[
    {
        "id": "45837b0e.6ef1c4",
        "type": "tab",
        "label": "Weather",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c184eb1e.6ec3e8",
        "type": "debug",
        "z": "45837b0e.6ef1c4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1150,
        "y": 220,
        "wires": []
    },
    {
        "id": "fc784b10.5b6558",
        "type": "inject",
        "z": "45837b0e.6ef1c4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "e1034fc5.292b1"
            ]
        ]
    },
    {
        "id": "5e3fc77f.881748",
        "type": "http response",
        "z": "45837b0e.6ef1c4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1150,
        "y": 300,
        "wires": []
    },
    {
        "id": "4da1ea1e.081574",
        "type": "json",
        "z": "45837b0e.6ef1c4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 990,
        "y": 300,
        "wires": [
            [
                "5e3fc77f.881748",
                "c184eb1e.6ec3e8"
            ]
        ]
    },
    {
        "id": "a275e0ef.6d759",
        "type": "http request",
        "z": "45837b0e.6ef1c4",
        "name": "GET WEATHER - observations.json",
        "method": "GET",
        "ret": "bin",
        "url": "https://api.weather.com/v1/geocode/52.52437/13.41053/forecast/daily/3day.json?apiKey=YOUR_WEATHER_APIKEY",
        "tls": "",
        "x": 540,
        "y": 300,
        "wires": [
            [
                "164bfadc.e470a5"
            ]
        ]
    },
    {
        "id": "b78f39d3.b74af8",
        "type": "comment",
        "z": "45837b0e.6ef1c4",
        "name": "https://callforcode.weather.com",
        "info": "Register",
        "x": 190,
        "y": 180,
        "wires": []
    },
    {
        "id": "e1034fc5.292b1",
        "type": "function",
        "z": "45837b0e.6ef1c4",
        "name": "",
        "func": "msg.headers = {};\nmsg.headers['Accept-Encoding'] = 'gzip';\n// msg.params = {\"apiKey\":\"YOUR_WEATHER_APIKEY\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "a275e0ef.6d759"
            ]
        ]
    },
    {
        "id": "c923ed2.7d8101",
        "type": "comment",
        "z": "45837b0e.6ef1c4",
        "name": "You Have to install - npm install node-red-contrib-gzip",
        "info": "",
        "x": 260,
        "y": 240,
        "wires": []
    },
    {
        "id": "164bfadc.e470a5",
        "type": "gzip",
        "z": "45837b0e.6ef1c4",
        "name": "",
        "x": 810,
        "y": 300,
        "wires": [
            [
                "4da1ea1e.081574"
            ]
        ]
    },
    {
        "id": "5cb3b1d0.e9f55",
        "type": "comment",
        "z": "45837b0e.6ef1c4",
        "name": "Sample for Call for Code weather with Node-RED",
        "info": "",
        "x": 240,
        "y": 120,
        "wires": []
    }
]